<div class="calendar">
    <div class="header">
      <button (click)="changeMonth(-1)">&#9664;</button>
      <h2>{{ monthNames[selectedMonth] }} {{ selectedYear }}</h2>
      <button (click)="changeMonth(1)">&#9654;</button>
    </div>
  
    <div class="days-of-week">
      <div *ngFor="let day of daysOfWeek">{{ day }}</div>
    </div>
  
    <div class="days">
      <div
        *ngFor="let day of calendarDays"
        [class.empty]="day === 0"
      >
        {{ day !== 0 ? day : '' }}
      </div>
    </div>
  </div>
  
