<body>
    <h1>Welcome Back Tasker</h1>
    <div class="center-wrapper">
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <fieldset>
          <div>
            <label for="usr">Username</label>
            <input type="text" name="usr" id="usr" [(ngModel)]="username" required placeholder="your name">
          </div>
          <div>
            <label for="pwd">Password</label>
            <input type="password" name="pwd" id="pwd" [(ngModel)]="password" required >
          </div>
          <div>
            <button type="submit" class="sub" [disabled]="!loginForm.valid">Connect</button>
            <button type="reset" class="res">Reset</button>
          </div>
          <p>
            Don't have an account? <a routerLink="/sign-up">Create one!</a>
          </p>
        </fieldset>
      </form>
    </div>
    <router-outlet></router-outlet>
  </body>
  