<body>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <h1>Welcome New Tasker</h1>
    <div class="center-wrapper">
      <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
        <fieldset>
          <div>
            <label for="usr">Username:</label>
            <input type="text" name="usr" id="usr" [(ngModel)]="user.username" required />
          </div>
          <div>
            <label for="mail">Email:</label>
            <input type="email" name="mail" id="mail" [(ngModel)]="user.email" required />
          </div>
          <div>
            <label for="pwd">Password:</label>
            <input
              type="password"
              name="pwd"
              id="pwd"
              [(ngModel)]="user.password"
              required
            />
          </div>
          <div>
            <label for="cpwd">Confirm Password:</label>
            <input
              type="password"
              name="cpwd"
              id="cpwd"
              [(ngModel)]="user.confirmPassword"
              required
            />
          </div>
          <div>
            <label>Gender:</label>
            <input type="radio" name="gender" value="Male" [(ngModel)]="user.gender" required /> Male
            <input type="radio" name="gender" value="Female" [(ngModel)]="user.gender" required /> Female
          </div>
          <div>
            <input type="submit" value="Sign Up" [disabled]="signUpForm.invalid" />
            <input type="reset" value="Reset" />
          </div>
          <p>Already have an account? <a routerLink="/login">Connect here!</a></p>
          <router-outlet></router-outlet>
        </fieldset>
      </form>
    </div>
  </body>
  