<body>
    <div class="main-container">
        <div class="welcome">
            <h1>Welcome To KeyTask</h1>
        </div>
        <div class="btn">
            <p>Join us here</p>
            <div class="connexion">
                <button (click)="login()">Log in with Keycloak</button>
                <!-- <button (click)="signup()">Sign up with Keycloak</button> -->
                <router-outlet></router-outlet>
            </div>
        </div>
        <video id="myVideo">
            <source src="../../../back.mp4" type="video/mp4">
        </video>
    </div>       
    <footer>
        <h3>Created by Yosr Bahloul & Salmen Hammami & Fatma Trabelsi</h3>
        <p>© 2025 All rights reserved</p>
    </footer>
</body>
