<body>
    <div class="main-container">
        <div class="welcome">
            <h1>Welcome To KeyTask</h1>
            <h3>Created By : FSY</h3>
        </div>
        <div class="btn">
            <p>Join us now</p>
            <div class="connexion">
                <button id="log" routerLink="/login">Log In</button>
                <button id="sign" routerLink="/sign-up">Sign Up</button>
                
            </div>
        </div>
        <video id="myVideo">
    <source src="../../../back.mp4" type="video/mp4">
  </video>
    </div> 
    <footer>
        <h3>Created by Yosr Bahloul & Salmen Hammemi & Fatma Trabelsi</h3>
        <p>© 2025 All rights reserved</p>
    </footer>
    <router-outlet></router-outlet>
</body>
