body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #dcdcdc, #b8b8b8);
}
.main-container, .center-wrapper {
    max-width: 100%;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}